#nosotros {
    text-align: center;
}

#nosotros .contenedor {
    width: 480px;
}

.cont-info {
    padding: 20px;
}

.info {
    margin: 0 10px 20px;
}

h4 {
    margin-bottom: 15px;
}

#nosotros img {
    width: 430px;
    margin-bottom: 100px;
}

@media screen and (max-width:767px) {
    #nosotros .contenedor {
        width: 90%;
    }

    #nosotros img {
        width: 90%;
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    #nosotros .contenedor {
        width: 70%;
    }

    #nosotros img {
        width: 70%;
    }
}

@media screen and (min-width:1024px) {
    #nosotros .contenedor {
        width: 50%;
    }

    #nosotros img {
        width: 50%;
    }
}