@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(menu.css);
@import url(banner.css);
@import url(turismo.css);
@import url(login.css);
@import url(sobre_nosotros.css);
@import url(agenda.css);
@import url(clima.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}

.contenedor img {
    float: left;
    width: 145px;
}

header .contenedor {
    display: table;
}

h2 {
    padding: 20px;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
}

#bienvenidos p  {
    margin: 0 40px 0 40px;
    padding-bottom: 20px;
}

/*Ubicacion*/

#ubicacion {
    text-align: center;
}

#ubicacion iframe {
    width: 70%;
    border-radius: 20px;
}


/*Footer*/

footer {
    width: 100%;
    border-top: 1px solid #000;
    border-radius: 20px 20px;
}

#footer-1 {
    width: 100%;
    border-top: 1px solid #000;
    border-radius: 20px 20px;
    position: absolute;
    bottom: 0;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    margin-top: 20px;
}

.copy {
    font-size: 15px;
}

.social {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
}

.social a {
    color: #333;
    text-decoration: none;
}

@media (min-width:1024px) {

    #header .contenedor {
        width: 50%;
    }
    .contenedor{
        width: 1210px;
    }

    #ubicacion iframe {
        width: 1200px;
    }


}

@media screen and (max-width:767px) {
    #ubicacion iframe {
        height: 300px;
    }
}

