#turismo {
    text-align: center;
}

#turismo .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.turismo-seccion {
    margin: 15px;
    text-decoration: none;
    color: #000;
    border-radius: 20px;
}

#turismo img {
    width: 280px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

/*Secciones Turismo*/


@media (min-width:1024px) {
    #turismo .contenedor {
        width: 100%;
    }

    #bienvenidos p {
        margin: 0 150px;
    }
}